{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<br>
<h2 style="color:#001A33;">Liste des Entreneurs</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Entreneurs</a></li>
</ol>
<div class="form-group">
    <input class="form-control" id="search" onkeyup="search(1)" placeholder="Rechercher par Nom" style="width:35%;float:right" type="text">
</div>
<br><br>
<table class="table" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Nom</th>
            <th scope="col">tel</th>
            <th scope="col">description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% set i=0 %}
        {% for trainer in trainers %}
            {% set i=i+1 %}
            <tr>
                <th scope="row">{{ i }}</th>
                <td><img src="{{asset('uploads/')}}{{ trainer.image }}" style="border-radius: 50%" width="40px" height="40x"></td>
                <td>{{ trainer.name }}</td>
                <td>{{ trainer.tel }}</td>
                <td>{{ trainer.description }}</td>
                <td>
                        <a href="{{ path('suppTrainer', {id : trainer.id}) }}">
                            <span class="badge badge-pill badge-danger">Supprimer</span>
                        </a>
                        <a href="{{ path('editTrainer', {id : trainer.id}) }}">
                            <span class="badge badge-pill badge-warning">Editer</span>
                        </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{{ path('addTrainer') }}">
    <button type="submit" class="btn btn-primary" style="float:right">Ajouter Entreneur</button>
</form>
<br><br>
<div id="equilibre"><br></div>
{% endblock %}
